.column-_log_level
{
	width: 10%;
}

.column-_user
{
	width: 20%;
	white-space: nowrap;
}

.column-_date
{
	width: 15%;
}

.column-_ip
{
	width: 15%;
}

.post-type-logbook .alignleft.actions.bulkactions
{
	display: none;
}

.post-type-logbook .wp-cli
{
	font-size: 8px;
	background-color: #555555;
	color: #ffffff;
	border-radius: 4px;
	padding: 4px;
	margin-left: 5px;
}

.post-type-logbook table .user,
.logbook-log-details .user
{
	display: flex;
	align-items: center;
}

.post-type-logbook table .user .avatar,
.logbook-log-details .user .avatar
{
	margin-right: 3px;
}

.post-type-logbook table .user .role,
.logbook-log-details .user .role
{
	font-size: 80%;
}

.logbook-log-details .meta
{
	text-align: right;
	margin: 1em 10px 1em 0;
}

.logbook-log-details th
{
	white-space: nowrap;
}

.logbook-log-details .log-title
{
	background-color: #ffffff;
	padding: 20px;
	border: 1px solid #dedede;
	border-radius: 3px;
}

.logbook-log-details #main-content h2
{
	margin-top: 0;
	padding-top: 0;
}

.logbook-log-details table
{
	border-collapse: collapse;
	border: 1px solid #dedede;
}

.logbook-log-details table.diff,
.logbook-log-details table.diff td
{
	border: none;
}

.logbook-log-details table th,
.logbook-log-details table td
{
	border: 1px solid #dedede;
	padding: 15px !important;
	word-break: break-all;
}

.logbook-log-details table td:first-child
{
	word-break: normal;
}

.logbook-log-details table th
{
	background-color: #f5f5f5;
}

.logbook-log-details table tr:nth-child(odd)
{
	background-color: #fafafa;
}

.logbook-log-details .inside
{
	padding-bottom: 0;
}

.logbook-log-details #main-content .inside > h2
{
	margin-top: 2em;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dedede;
}

.logbook-log-details #main-content .inside > h2:first-child
{
	margin-top: 0;
}

.logbook-log-details div.code
{
	background-color: #f5f5f5;
	padding: 20px 0;
	box-sizing: border-box;
}

.logbook-log-details pre {
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0;
	padding: 2px 20px;
}

.logbook-log-details table pre {
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0;
	padding: 0;
}

.logbook-log-details pre.line
{
	background-color: #eeee88;
}

.logbook-log-details pre.terminal
{
	background-color: #555555;
	color: #ffffff;
	padding: 20px 10px;
	font-size: 16px;
}

.logbook-log-details .hndle
{
	cursor: auto !important;
}

.logbook-log-details .handlediv
{
	display: none !important;
}

.logbook-log-details .log-level
{
	margin-right: 5px;
}

.log-level.fatal
{
	color: #ff0000;
	font-weight: bolder;
}

.log-level.error
{
	color: #ff0000;
	font-weight: bold;
}

.log-level.warn
{
	color: #ff7700;
	font-weight: bold;
}

.log-level.info
{
	color: #555555;
	font-weight: normal;
}

.log-level.debug
{
	color: #999999;
	font-weight: normal;
}

.log-level.trace
{
	color: #bbbbbb;
	font-weight: normal;
}

.logbook-settings .token
{
	display: flex;
	align-items: center;
}

.logbook-settings .token span
{
	margin-right: 1em;
}

.logbook-settings h2
{
	margin-top: 2em;
}

.logbook-settings pre
{
	background-color: #555555;
	color: #ffffff;
	padding: 20px;
}

@media screen and ( max-width: 782px )
{
	.post-type-logbook .wp-list-table tr th,
	.post-type-logbook .wp-list-table tr td
	{
		display: none !important;
	}
	.post-type-logbook .wp-list-table td::before
	{
		display: none !important;
	}
	.post-type-logbook .wp-list-table tr td:nth-child(1),
	.post-type-logbook .wp-list-table tr th:nth-child(2),
	.post-type-logbook .wp-list-table tr td:nth-child(2)
	{
		display: block !important;
	}
	.post-type-logbook .wp-list-table tr td:nth-child(1)
	{
		padding-top: 10px !important;
		padding-bottom: 3px !important;
	}
	.post-type-logbook .wp-list-table tr td:nth-child(2)
	{
		padding-top: 0 !important;
		padding-bottom: 10px !important;
		border-bottom: 1px solid #eeeeee;
	}
	.post-type-logbook .displaying-num
	{
		display: none;
	}

	.logbook-settings .token
	{
		display: block;
	}
}
